<div>
    <div class="container mt-5 table-responsive">
<table id="allbus" class="table table-hover align-middle">
  <h1>ALL BUS</h1>
  <thead>
    <tr class="table-success">
      <th scope="col">Name</th>
      <th scope="col">From</th>
      <th scope="col">Starting time</th>
      <th scope="col">TO</th>
      <th scope="col">Ending time</th>
      <th scope="col">Route</th>
      <th scope="col"> Status</th>
      <th scope="col">OPERATIONS</th>

    </tr>
  </thead>
  <tbody>
      {{#each buslist}}
    <tr>
      <td data-label="Name">{{this.busname}}</td>
      <td data-label="From">{{this.start}}</td>
      <td data-label="Starting time">{{this.startingtime}}</td>
      <td data-label="To">{{this.stop}}</td>
      <td data-label="Ending time">{{this.stoptime}}</td>
       <td data-label="Route">{{this.route}}</td>
        <td data-label="Status">{{this.status}}</td>
       <td data-label="OPERATIONS"><a href="/admin/active_bus/{{this._id}}" class="btn btn-success">Active</a><a href="/admin/inactive_bus/{{this._id}}" class="btn btn-danger">Inactive</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>



<style>
    body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
</style>

<script>
    $(document).ready( function () {
    $('#allbus').DataTable();
} );
</script>